:root {
    --text-color: #181818;
    --text-color2: #e4e4e4;
    --bg-color-body: #E6AB5A;
    --bg-color-form: #EACCA1;
    --bg-color-hover: #B38645;

    --spacing: 16px;
    --spacing-more: calc(var(--spacing)*2);
    --spacing-less: calc(var(--spacing)/2);
}
